/****************************************************
NAVIGATION font 
****************************************************/


nav {
  text-align: right;
  padding: 10px 0;
  margin: 20px 0 0;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: bold;
  padding: 15px 10px;
}

/** Light Grey Background**/
nav {
  background: #939393;
  border-bottom-style: outset; 
}
/** Dark grey nav bar hover **/
nav:hover {
  background-color: #626262
}

/** Nav links **/
nav a, nav a:visited {
  color: #fff
}
/** Orange Nav links **/
nav a.selected, nav a:hover {
  color: orange;
}


article {
  max-width: 100%;
  padding: 20px;
  margin: 0 auto;
}

  li {
    padding: 5px;
    display: block;
  }
}
  color: Black;
  font-style: italic;
}

/******************************************************
Heading 
******************************************************/

header {
  text-align: center;
  background-color: white;
  background-size: cover;
  font-family: serif;
}

header li a {
  color: white;
  text-decoration: none;
}

header li a:hover {
  color: orange;
}

h1 {
  font-style: italic;
  text-align: center;
  font-size: 80px;
  font-weight: lighter;
}
.css3-gradient1{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
}
/*==================================================
 * Drop shadow effect with radial gradient
 * ===============================================*/
.css3-gradient1:after{
    content:"";
    position:absolute;
    z-index:-1;
    top:100%;
    bottom:0;
    width:120%;
    height:50px;
    left:-10%;
    right:-10%;
    background:-webkit-radial-gradient(50% -3%, ellipse cover, rgba(00, 00, 00, 0.5), rgba(97, 97, 97, 0.0) 40%);
    background:radial-gradient(ellipse at 50% -3%, rgba(00, 00, 00, 0.5), rgba(97, 97, 97, 0.0) 40%);
}

/******************************************************
BODY
******************************************************/

article {
  margin: 80px;
}

h2 {
  color: orange;
  font-weight: bold;
}


